body {
    background-color: rgba(51, 22, 160, 0.25);
}
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.card-title {
    color: #343a40;
}
.form-control {
    border-radius: 8px;
}
.btn-primary {
    background-color: #3316a0;
    border: none;
    border-radius: 8px;
}
.btn-primary:hover {
    background-color: #fa9306;
}
.alert-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 300px;
}
.alert {
    padding: 10px;
    border-radius: 8px;
    background-color: #d0bbff; /* pastel purple */
    color: #4b0082; /* indigo */
    border: 1px solid #b09dff; /* lighter purple */
    position: relative;
}
.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.links-container {
    margin-top: 10px;
}
.links-container a {
    display: block;
    margin-bottom: 5px;
    color: #6c757d;
    text-decoration: none;
}
.links-container a:hover {
    color: #343a40;
}