<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prikaži sve oglase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Prikaži sve oglase</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Naziv Biznisa</th>
                    <th>Vlasnik</th>
                    <th>Opis</th>
                    <th>Lokacija</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for business in businesses %}
                <tr>
                    <td>{{ business.businessname }}</td>
                    <td>{{ business.owner.username }}</td>
                    <td>{{ business.description }}</td>
                    <td>{{ business.location.city }}, {{ business.location.country }}</td>
                    <td>
                        <form action="/admin_delete_business/{{ business.businessid }}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
