<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Itinerary') }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% if session['dark_mode'] %}
      <link rel="stylesheet" href="{{url_for('static', filename='styles/dark-mode.css')}}">
    {% else %}
      <link rel="stylesheet" href="{{url_for('static', filename='styles/design.css')}}">
    {% endif %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
{% if user == "Putnik" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="padding-left: 10px; padding-bottom: 0; padding-top: 0" onclick="dashboard()">
        <img src="{{ url_for('static', filename='images/TripPyLogoPurple.svg') }}" alt="Logo" class="logo" id="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoutes" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ _('Routes') }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownRoutes">
                    <a class="dropdown-item" onclick="putnik_add_route()">{{ _('New Route') }}</a>
                    <a class="dropdown-item" onclick="putnik_show_all_routes()">{{ _('All Routes') }}</a>
                    <a class="dropdown-item" onclick="putnik_show_my_routes()">{{ _('My Routes') }}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAds" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ _('Businesses') }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownAds">
                    <a class="dropdown-item" onclick="putnik_show_businesses()">{{ _('All Businesses') }}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ _('Profile') }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownProfile">
                    <li><a class="dropdown-item" href="#" onclick="profile()">{{ _('My Profile') }}</a></li>
                    <li><a class="dropdown-item" href="#" onclick="settings()">{{ _('Settings') }}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#" onclick="logout()">{{ _('Logout') }}</a></li>
                </ul>
            </ul>
        </div>
    </nav>
{% elif user == "VlasnikBiznisa" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="padding-left: 10px; padding-bottom: 0; padding-top: 0" onclick="dashboard()"><img src="{{ url_for('static', filename='images/TripPyLogoPurple.svg') }}" alt="Logo" class="logo" id="logo"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoutes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ _('Routes') }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownRoutes">
          <a class="dropdown-item" onclick="vlasnik_show_routes()">{{ _('All Routes') }}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAds" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ _('Businesses') }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAds">
          <a class="dropdown-item" onclick="vlasnik_add_business()">{{ _('Create Business') }}</a>
          <a class="dropdown-item" onclick="vlasnik_show_all_businesses()">{{ _('All Businesses') }}</a>
          <a class="dropdown-item" onclick="vlasnik_show_my_businesses()">{{ _('My Businesses') }}</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-expanded="false">
      {{ _('Profile') }}
        </a>
        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownProfile">
          <li><a class="dropdown-item" href="#" onclick="profile()">{{ _('My Profile') }}</a></li>
          <li><a class="dropdown-item" href="#" onclick="settings()">{{ _('Settings') }}</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" onclick="logout()">{{ _('Logout') }}</a></li>
        </ul>
     </ul>
  </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="padding-left: 10px; padding-bottom: 0; padding-top: 0" onclick="dashboard()"><img src="{{ url_for('static', filename='images/TripPyLogoPurple.svg') }}" alt="Logo" class="logo" id="logo"></a>
    </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">

      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ _('Users') }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAds">
          <a class="dropdown-item" onclick="admin_users()">{{ _('All Users') }}</a>
          <a class="dropdown-item" onclick="admin_add_user()">{{ _('Add User') }}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoutes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ _('Routes') }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownRoutes">
          <a class="dropdown-item" onclick="admin_show_routes()">{{ _('All Routes') }}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAds" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ _('Businesses') }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAds">
          <a class="dropdown-item" onclick="admin_show_businesses()">{{ _('All Businesses') }}</a>
          <a class="dropdown-item" onclick="admin_business_requests()">{{ _('Business Approval Requests') }}</a>
        </div>
      </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLocations" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ _('Locations') }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAds">
          <a class="dropdown-item"  onclick="admin_add_location()">{{ _('Add Location') }}</a>
        </div>
      </li>

    </ul>
    <ul class="navbar-nav ms-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ _('Profile') }}
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownProfile">
      <li><a class="dropdown-item" href="#" onclick="profile()">{{ _('My Profile') }}</a></li>
      <li><a class="dropdown-item" href="#" onclick="settings()">{{ _('Settings') }}</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#" onclick="logout()">{{ _('Logout') }}</a></li>
    </ul>
  </li>
</ul>

  </div>
</nav>
{% endif %}

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1>{{ _('Route') }}: {{ route.routename }}</h1>
            </div>
            <div class="card-body">
                <p class="card-text">{{ _('Duration') }}: {{ route_duration }} {{ _('days') }}</p>
                <h2 class="card-title">{{ _('Day') }} {{ day_number }} {{ _('Itinerary') }}</h2>
                <ul class="list-group">
                    {% for itinerary_detail in itinerary_details %}
                        <div class="card">
                            <li class="list-group-item" id="row{{ itinerary_detail.business.businessid }}">
                                <strong>{{ _('Location') }}:</strong> {{ itinerary_detail.location.address }}
                                {% if itinerary_detail.business %}
                                    <br>
                                    <strong>{{ _('Business') }}:</strong> {{ itinerary_detail.business.businessname }}
                                    <br>
                                    <strong>{{ _('Description') }}:</strong> {{ itinerary_detail.business.description }}
                                    <br>
                                    {% if user == "Putnik" %}
                                        <a class="btn btn-primary" href="{{ url_for('putnik_get_business', business_id=itinerary_detail.business.businessid) }}">{{ _('View') }}</a>
                                    {% elif user == "VlasnikBiznisa" %}
                                        <a class="btn btn-primary" href="{{ url_for('vlasnik_get_business', business_id=itinerary_detail.business.businessid) }}">{{ _('View') }}</a>
                                    {% else %}
                                        <a class="btn btn-primary" href="{{ url_for('admin_get_business', business_id=itinerary_detail.business.businessid) }}">{{ _('View') }}</a>
                                    {% endif %}
                                    <button class="btn btn-success" onclick="openMap('{{ itinerary_detail.business.location.address }}', '{{ itinerary_detail.business.businessid }}')">{{ _('Map') }}</button>
                                    {% if route.createdby == user_id %}
                                    <form action="{{ url_for('putnik_delete_itinerary_business', route_id=route.routeid, day_number=day_number, business_id=itinerary_detail.business.businessid) }}" method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-danger">{{ _('Delete') }}</button>
                                    </form>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </div>
                    {% endfor %}
                    {% if route.createdby == user_id %}
                    <div class="card">
                        <li class="list-group-item">
                            <div class="row mt-3">
                                <div class="col">
                                    <a class="btn btn-warning" href="{{ url_for('putnik_add_business', route_id=route.routeid, day_number=day_number) }}">{{ _('Add for Day') }} {{ day_number }}</a>
                                </div>
                            </div>
                        </li>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% if user == "Putnik" %}
    <script src="{{ url_for('static', filename='scripts/script_putnik.js') }}"></script>
{% elif user == "VlasnikBiznisa" %}
    <script src="{{ url_for('static', filename='scripts/script_vlasnik.js') }}"></script>
{% else %}
    <script src="{{ url_for('static', filename='scripts/script_admin.js') }}"></script>
{% endif %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>

    function openMap(address, businessId) {
        console.log('Opening map for address:', address, 'with businessId:', businessId);

        document.querySelectorAll('.map-row').forEach(element => {
            element.remove();
        });

        var parentRow = document.getElementById(`row${businessId}`);
        if (!parentRow) {
            console.error(`Element with ID row${businessId} not found`);
            return;
        }

        var


{% if user == "Putnik" %}
    <script src="{{ url_for('static', filename='scripts/script_putnik.js') }}"></script>
{% elif user == "VlasnikBiznisa" %}
    <script src="{{ url_for('static', filename='scripts/script_vlasnik.js') }}"></script>
{% else %}
    <script src="{{ url_for('static', filename='scripts/script_admin.js') }}"></script>
{% endif %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>

    function openMap(address, businessId) {
        console.log('Opening map for address:', address, 'with businessId:', businessId);

        document.querySelectorAll('.map-row').forEach(element => {
            element.remove();
        });

        var parentRow = document.getElementById(`row${businessId}`);
        if (!parentRow) {
            console.error(`Element with ID row${businessId} not found`);
            return;
        }

        var newRow = document.createElement('div');
        newRow.classList.add('map-row');
        newRow.innerHTML = `<div id="map${businessId}" class="map-container"></div>`;
        parentRow.insertAdjacentElement('afterend', newRow);

        var mymap = L.map(`map${businessId}`).setView([0, 0], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        var location = address;
        var url = 'https://nominatim.openstreetmap.org/search?format=json&limit=1&q=' + encodeURIComponent(location);
        console.log('Geocoding URL:', url);
        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log('Geocoding Response:', data);
                if (data.length > 0) {
                    var lat = data[0].lat;
                    var lon = data[0].lon;
                    mymap.setView([lat, lon], 13);
                    L.marker([lat, lon]).addTo(mymap);
                } else {
                    console.error('No location data received');
                    alert('Location not found');
                }
            })
            .catch(error => {
                console.error('Error fetching location data:', error);
                alert('Error fetching location data');
            });
    }
</script>

<script>
    const logo = document.getElementById('logo');
    const darkMode = {{ session['dark_mode']|lower }};

    const originalSrc = darkMode
        ? "{{ url_for('static', filename='images/TripPyLogoOrange.svg') }}"
        : "{{ url_for('static', filename='images/TripPyLogoPurple.svg') }}";

    const hoverSrc = darkMode
        ? "{{ url_for('static', filename='images/TripPyLogoPurple.svg') }}"
        : "{{ url_for('static', filename='images/TripPyLogoOrange.svg') }}"

    logo.src = originalSrc;

    logo.addEventListener('mouseover', function() {
        logo.src = hoverSrc;
    });

    logo.addEventListener('mouseout', function() {
        logo.src = originalSrc;
    });
</script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
