<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/design.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map {
            height: 300px;
            width: 100%;
        }
        .map-container {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
{% if user == "Putnik" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: 16px; margin-right: 16px;">
    <a class="navbar-brand" href="#" style="padding-left: 10px; padding-bottom: 0; padding-top: 0" onclick="dashboard()">
        <img src="{{ url_for('static', filename='images/TripPyLogo.svg') }}" alt="Logo" class="logo" id="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoutes" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Marsrute
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownRoutes">
                    <a class="dropdown-item" onclick="putnik_add_route()">Nova maršruta</a>
                    <a class="dropdown-item" onclick="putnik_show_all_routes()">Sve Marsrute</a>
                    <a class="dropdown-item" onclick="putnik_show_my_routes()">Moje Marsrute</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAds" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Oglasi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownAds">
                    <a class="dropdown-item" onclick="putnik_show_businesses()">Svi Oglasi</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profil
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownProfile">
                    <li><a class="dropdown-item" href="#" onclick="profile()">Moj Profil</a></li>
                    <li><a class="dropdown-item" href="#">Postavke</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#" onclick="logout()">Odjava</a></li>
                </ul>
            </ul>
        </div>
    </nav>
{% elif user == "VlasnikBiznisa" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="padding-left: 10px; padding-bottom: 0; padding-top: 0" onclick="dashboard()"><img src="{{ url_for('static', filename='images/TripPyLogo.svg') }}" alt="Logo" class="logo" id="logo"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoutes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Marsrute
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownRoutes">
          <a class="dropdown-item" onclick="vlasnik_show_routes()">Sve Marsrute</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAds" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Oglasi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAds">
          <a class="dropdown-item" onclick="vlasnik_add_business()">Kreiraj oglas</a>
          <a class="dropdown-item" onclick="vlasnik_show_all_businesses()">Svi Oglasi</a>
          <a class="dropdown-item" onclick="vlasnik_show_my_businesses()">Moji oglasi</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-expanded="false">
      Profil
        </a>
        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownProfile">
          <li><a class="dropdown-item" href="#" onclick="profile()">Moj Profil</a></li>
          <li><a class="dropdown-item" href="#">Postavke</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" onclick="logout()">Odjava</a></li>
        </ul>
     </ul>
  </div>
</nav>
{% endif %}

    <div class="container mt-5">
        <h1>Route: {{ route.routename }}</h1>
        <p>Duration: {{ route_duration }} days</p>
        <h2>Day {{ day_number }} Itinerary</h2>
        <ul class="list-group">
            {% for itinerary_detail in itinerary_details %}
                <li class="list-group-item" id="row{{ itinerary_detail.business.businessid }}">
                    <strong>Location:</strong> {{ itinerary_detail.location.address }}
                    {% if itinerary_detail.business %}
                        <br>
                        <strong>Business:</strong> {{ itinerary_detail.business.businessname }}
                        <br>
                        <strong>Description:</strong> {{ itinerary_detail.business.description }}
                        <br>
                        {% if user == "Putnik" %}
                            <a class="btn btn-primary" href="{{ url_for('putnik_get_business', business_id=itinerary_detail.business.businessid) }}">View</a>
                        {% elif user == "VlasnikBiznisa" %}
                            <a class="btn btn-primary" href="{{ url_for('vlasnik_get_business', business_id=itinerary_detail.business.businessid) }}">View</a>
                        {% endif %}
                        <button class="btn btn-primary" onclick="openMap('{{ itinerary_detail.business.location.address }}', '{{ itinerary_detail.business.businessid }}')">Map</button>
                        {% if route.createdby == user_id %}
                        <form action="{{ url_for('putnik_delete_itinerary_business', route_id=route.routeid, day_number=day_number, business_id=itinerary_detail.business.businessid) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            <li class="list-group-item">
                <div class="row mt-3">
                    {% if route.createdby == user_id %}
                    <div class="col">
                        <a class="btn btn-warning" href="{{ url_for('putnik_add_business', route_id=route.routeid, day_number=day_number) }}">Add for Day {{ day_number }}</a>
                    </div>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
    {% if user == "Putnik" %}
        <script src="{{ url_for('static', filename='scripts/script_putnik.js') }}"></script>
    {% elif user == "VlasnikBiznisa" %}
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    {% endif %}
    <script>
        function openMap(address, businessId) {
            console.log('Opening map for address:', address, 'with businessId:', businessId);

            document.querySelectorAll('.map-row').forEach(element => {
                element.remove();
            });

            var parentRow = document.getElementById(`row${businessId}`);
            if (!parentRow) {
                console.error(`Element with ID row${businessId} not found`);
                return;
            }

            var newRow = document.createElement('div');
            newRow.classList.add('map-row');
            newRow.innerHTML = `<div id="map${businessId}" class="map-container"></div>`;
            parentRow.insertAdjacentElement('afterend', newRow);

            var mymap = L.map(`map${businessId}`).setView([0, 0], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(mymap);

            var location = address;
            var url = 'https://nominatim.openstreetmap.org/search?format=json&limit=1&q=' + encodeURIComponent(location);
            console.log('Geocoding URL:', url);
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log('Geocoding Response:', data);
                    if (data.length > 0) {
                        var lat = data[0].lat;
                        var lon = data[0].lon;
                        mymap.setView([lat, lon], 13);
                        L.marker([lat, lon]).addTo(mymap);
                    } else {
                        console.error('No location data received');
                        alert('Location not found');
                    }
                })
                .catch(error => {
                    console.error('Error fetching location data:', error);
                    alert('Error fetching location data');
                });
        }
    </script>

    <script>
        const logo = document.getElementById('logo');
        const originalSrc = "{{ url_for('static', filename='images/TripPyLogo.svg') }}";
        const hoverSrc = "{{ url_for('static', filename='images/TripPyLogoOrange.svg') }}";

        logo.addEventListener('mouseover', function() {
            logo.src = hoverSrc;
        });

        logo.addEventListener('mouseout', function() {
            logo.src = originalSrc;
        });
    </script>
</body>
</html>
