<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripPy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% if session['dark_mode'] %}
      <link rel="stylesheet" href="{{url_for('static', filename='styles/dark-mode.css')}}">
    {% else %}
      <link rel="stylesheet" href="{{url_for('static', filename='styles/design.css')}}">
    {% endif %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="padding-left: 10px; padding-bottom: 0; padding-top: 0" onclick="dashboard()">
        <img src="{{ url_for('static', filename='images/TripPyLogoPurple.svg') }}" alt="Logo" class="logo" id="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoutes" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ _('Routes') }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownRoutes">
                    <a class="dropdown-item" onclick="putnik_add_route()">{{ _('Create New Route') }}</a>
                    <a class="dropdown-item" onclick="putnik_show_all_routes()">{{ _('All Routes') }}</a>
                    <a class="dropdown-item" onclick="putnik_show_my_routes()">{{ _('My Routes') }}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAds" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ _('Businesses') }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownAds">
                    <a class="dropdown-item" onclick="putnik_show_businesses()">{{ _('Show All Businesses') }}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ _('Profile') }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownProfile">
                    <li><a class="dropdown-item" href="#" onclick="profile()">{{ _('My Profile') }}</a></li>
                    <li><a class="dropdown-item" href="#" onclick="settings()">{{ _('Settings') }}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#" onclick="logout()">{{ _('Logout') }}</a></li>
                </ul>
            </ul>
        </div>
    </nav>

<div class="container mt-5">
    <h1 class="card-title">{{ _('Welcome,') }} {{user.username}}!</h1>

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2 class="card-title">{{ _('Routes') }}</h2>
                                <button class="btn btn-primary" onclick="location.href='putnik_add_route'">{{ _('Create Route') }}</button>

                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2 class="card-title">{{ _('Route Overview') }}</h2>
                                <button class="btn btn-primary mb-3" onclick="location.href='putnik_show_all_routes'">{{ _('All Routes') }}</button>
                                <button class="btn btn-primary mb-3" onclick="location.href='putnik_show_my_routes'">{{ _('My Routes') }}</button>
                        </div>
                    </div>
                    <div class="card mb-auto">
                    <div class="card-body">
                        <h2 class="card-title">{{ _('All Businesses') }}</h2>
                        <div class="column" style="overflow-y: auto; max-height: 400px;">
                            <div class="col-md-12">
                                    <button class="btn btn-primary" onclick="location.href='putnik_show_businesses'">{{ _('Show All Businesses') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="alert-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert" id="flash-message">
                    <span>{{ message }}</span>
                    <span class="close-btn" onclick="closeFlashMessage();">&times;</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="{{ url_for('static', filename='scripts/script_putnik.js') }}"></script>
<script>
    const logo = document.getElementById('logo');
    const darkMode = {{ session['dark_mode']|lower }};

    const originalSrc = darkMode
        ? "{{ url_for('static', filename='images/TripPyLogoOrange.svg') }}"
        : "{{ url_for('static', filename='images/TripPyLogoPurple.svg') }}";

    const hoverSrc = darkMode
        ? "{{ url_for('static', filename='images/TripPyLogoPurple.svg') }}"
        : "{{ url_for('static', filename='images/TripPyLogoOrange.svg') }}"

    logo.src = originalSrc;

    logo.addEventListener('mouseover', function() {
        logo.src = hoverSrc;
    });

    logo.addEventListener('mouseout', function() {
        logo.src = originalSrc;
    });
</script>



</body>
</html>
