<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Route</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/design.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: 16px; margin-right: 16px;">
  <a class="navbar-brand" href="#" style="padding-left: 10px; padding-bottom: 0; padding-top: 0" onclick="dashboard()"><img src="{{ url_for('static', filename='images/TripPyLogo.svg') }}" alt="Logo" class="logo" id="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoutes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Marsrute
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownRoutes">
          <a class="dropdown-item" onclick="putnik_add_route()">Nova maršruta</a>
          <a class="dropdown-item" onclick="putnik_show_all_routes()">Sve Marsrute</a>
          <a class="dropdown-item" onclick="putnik_show_my_routes()">Moje Marsrute</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAds" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Oglasi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAds">
          <a class="dropdown-item" onclick="putnik_show_businesses()">Svi Oglasi</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-expanded="false">
      Profil
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownProfile">
          <li><a class="dropdown-item" href="#" onclick="profile()">Moj Profil</a></li>
          <li><a class="dropdown-item" href="#" onclick="settings()">Postavke</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" onclick="logout()">Odjava</a></li>
        </ul>
     </ul>
  </div>
</nav>

    <div class="container mt-5">
        <h1 class="mb-3">Update Route</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="routename" class="form-label">Route Name:</label>
                <input type="text" class="form-control" id="routename" name="routename" required value="{{ route.routename }}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3">{{ route.description }}</textarea>
            </div>
            <div class="mb-3">
                <label for="startdate" class="form-label">Start Date:</label>
                <input type="date" class="form-control" id="startdate" name="startdate" required value="{{ route.startdate.isoformat() }}">
            </div>
            <div class="mb-3">
                <label for="enddate" class="form-label">End Date:</label>
                <input type="date" class="form-control" id="enddate" name="enddate" required value="{{ route.enddate.isoformat() }}">
            </div>
            <div class="mb-3">
                <label for="public" class="form-label">Visibility:</label>
                <select class="form-control" id="public" name="public" required>
                    <option value="public" {% if route.public == 'public' %}selected{% endif %}>Public</option>
                    <option value="private" {% if route.public == 'private' %}selected{% endif %}>Private</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="route_duration" class="form-label">Route Duration:</label>
                <input type="text" class="form-control" id="route_duration" value="{{ route_duration }}" disabled>
            </div>
            
             
             <div class="mb-3">
              <label class="form-label">Participants:</label>
              <div class="list-group">
                {% for user in users %}
                <div class="list-group-item d-flex align-items-center">
                  <input class="form-check-input me-1" type="checkbox" name="participants" id="participant_{{ user.userid }}" value="{{ user.userid }}" {% if user.userid in existing_participants %}checked{% endif %}>
                  <label class="form-check-label flex-grow-1" for="participant_{{ user.userid }}">
                    {{ user.username }} ({{ user.firstname }} {{ user.lastname }} - {{ user.email }})
                  </label>
                </div>
                {% endfor %}
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-primary me-2" id="addParticipantButton">Add Selected</button>
                <button type="button" class="btn btn-danger" id="removeParticipantButton">Remove Selected</button>
              </div>
            </div>


            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts/script_putnik.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    const logo = document.getElementById('logo');
    const originalSrc = "{{ url_for('static', filename='images/TripPyLogo.svg') }}";
    const hoverSrc = "{{ url_for('static', filename='images/TripPyLogoOrange.svg') }}";

    logo.addEventListener('mouseover', function() {
        logo.src = hoverSrc;
    });

    logo.addEventListener('mouseout', function() {
        logo.src = originalSrc;
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var startDate = new Date("{{ route.startdate.isoformat() }}");
        var endDate = new Date("{{ route.enddate.isoformat() }}");
        var routeDuration = Math.round((endDate - startDate) / (1000 * 60 * 60 * 24));

        document.getElementById("route_duration").value = routeDuration + " days";

        var buttonContainer = document.getElementById("button_container");
        for (var i = 0; i < routeDuration; i++) {
        var button = document.createElement("button");
        button.type = "button";
        button.classList.add("btn", "btn-secondary");
        button.textContent = "Day " + (i + 1);
        button.addEventListener('click', function() {
            var routeId = "{{ route.routeid }}";
            var dayNumber = this.textContent.split(" ")[1];
            window.location.href = "/itinerary/" + routeId + "/" + dayNumber;
        });
        buttonContainer.appendChild(button);
    }
    });
</script>
<script src="{{ url_for('static', filename='scripts/script_putnik.js') }}"></script>
</body>
</html>
