<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlasnik All Businesses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/design.css')}}">
    <style>
    #map {
    height: 300px;
    width: 100%;
    }
    .map-container {
    height: 400px;
    width: 100%;
    }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="padding-left: 10px; padding-bottom: 0; padding-top: 0" onclick="dashboard()"><img src="{{ url_for('static', filename='images/TripPyLogo.svg') }}" alt="Logo" class="logo" id="logo"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoutes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Marsrute
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownRoutes">
          <a class="dropdown-item" onclick="vlasnik_show_routes()">Sve Marsrute</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAds" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Oglasi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAds">
          <a class="dropdown-item" onclick="vlasnik_add_business()">Kreiraj oglas</a>
          <a class="dropdown-item" onclick="vlasnik_show_all_businesses()">Svi Oglasi</a>
          <a class="dropdown-item" onclick="vlasnik_show_my_businesses()">Moji oglasi</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-expanded="false">
      Profil
        </a>
        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownProfile">
          <li><a class="dropdown-item" href="#" onclick="profile()">Moj Profil</a></li>
          <li><a class="dropdown-item" href="#">Postavke</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" onclick="logout()">Odjava</a></li>
        </ul>
     </ul>
  </div>
</nav>

<div class="container mt-5">
    <h1 class="mb-3">Prikaz mojih oglasa</h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Pretraga po imenu poslovanja" id="searchInput">
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Images</th>
                    <th style="padding: 0;">
                            <button class="btn btn-link" onclick="sortTable(0)" style="border: none; background: none;">
                                <span class="visually-hidden">Sort by Business Name</span>
                                <span style="text-decoration: underline; color: white;">Business Name</span>
                                <i id="sortIcon" class="fas fa-sort" style="margin-left: 4px;"></i>
                            </button>
                        </th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Owner</th>
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for business in businesses %}
                <tr id="row{{ business.businessid }}">
                    <td>
                        {% if business.image_path %}
                            <img src="{{ url_for('static', filename=business.image_path.split(',', 1)[0]) }}" alt="{{ business.businessname }}" style="max-width: 150px; max-height: 150px; margin-right: 5px;">
                        {% else %}
                            No images available
                        {% endif %}
                    </td>
                    <td>{{ business.businessname }}</td>
                    <td>{{ business.description }}</td>
                    <td>{{ business.location.address }}</td>
                    <td>{{ business.owner.username }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Business Actions">
                            <button class="btn btn-success" onclick="openMap('{{ business.location.address }}', '{{ business.businessid }}')">Map</button>
                            <a href="{{ url_for('vlasnik_get_business', business_id=business.businessid) }}" class="btn btn-primary">Edit</a>
                            <a href="{{ url_for('vlasnik_delete_business', business_id=business.businessid) }}" class="btn btn-danger">Delete</a>
                        </div>
                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


    <script src="{{ url_for('static', filename='scripts/script_vlasnik.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
function openMap(address, businessId) {

    document.querySelectorAll('.map-row').forEach(element => {
        element.remove();
    });

    var newRow = document.createElement('tr');
    newRow.classList.add('map-row');
    newRow.innerHTML = `<td colspan="6"><div id="map${businessId}" class="map-container"></div></td>`;
    document.getElementById(`row${businessId}`).insertAdjacentElement('afterend', newRow);

    var mymap = L.map(`map${businessId}`).setView([0, 0], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    var location = address;
    var url = 'https://nominatim.openstreetmap.org/search?format=json&limit=1&q=' + encodeURIComponent(location);
    console.log('Geocoding URL:', url); // Log the geocoding URL to check if it's correct
    fetch(url)
        .then(response => response.json())
        .then(data => {
            console.log('Geocoding Response:', data);
            if (data.length > 0) {
                var lat = data[0].lat;
                var lon = data[0].lon;
                mymap.setView([lat, lon], 13);
                L.marker([lat, lon]).addTo(mymap);
            } else {
                console.error('No location data received');
                alert('Location not found');
            }
        })
        .catch(error => {
            console.error('Error fetching location data:', error);
            alert('Error fetching location data');
        });
}
</script>
<script>
    const logo = document.getElementById('logo');
    const originalSrc = "{{ url_for('static', filename='images/TripPyLogo.svg') }}";
    const hoverSrc = "{{ url_for('static', filename='images/TripPyLogoOrange.svg') }}";

    logo.addEventListener('mouseover', function() {
        logo.src = hoverSrc;
    });

    logo.addEventListener('mouseout', function() {
        logo.src = originalSrc;
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('searchInput').addEventListener('input', function () {
            let input = this.value.toLowerCase();
            let table = document.querySelector('table');
            let rows = table.getElementsByTagName('tr');
            for (let i = 1; i < rows.length; i++) {
                let cells = rows[i].getElementsByTagName('td');
                let found = false;
                for (let j = 1; j < cells.length - 1; j++) {
                    let cellText = cells[j].textContent.toLowerCase();
                    if (cellText.includes(input)) {
                        found = true;
                        break;
                    }
                }
                if (found) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        });
    });
</script>
<script>
let ascending = true; // Track current sorting order

function sortTable(colIndex) {
    let table = document.querySelector('table');
    let rows = Array.from(table.querySelectorAll('tr'));
    let sortedRows = rows.slice(1).sort((a, b) => {
        let aValue = a.cells[colIndex].textContent.trim();
        let bValue = b.cells[colIndex].textContent.trim();
        return ascending ? aValue.localeCompare(bValue) : bValue.localeCompare(aValue);
    });

    // Toggle sorting order for next click
    ascending = !ascending;

    table.querySelector('tbody').innerHTML = ''; // Clear table body
    sortedRows.forEach(row => {
        table.querySelector('tbody').appendChild(row); // Append sorted rows to table body
    });
}
</script>
</body>
</html>
