<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlasnik All Businesses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TripPy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" onclick="dashboard()">Početna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoutes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Marsrute
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownRoutes">
          <a class="dropdown-item" href="/vlasnik_show_routes">Sve Marsrute</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAds" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Oglasi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAds">
          <a class="dropdown-item" href="/vlasnik_add_business">Kreiraj oglas</a>
          <a class="dropdown-item" href="/vlasnik_show_all_businesses">Svi Oglasi</a>
          <a class="dropdown-item" href="/vlasnik_show_my_businesses">Moji oglasi</a>
          <a class="dropdown-item" href="#">Pretraga Oglasa</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
          <a class="dropdown-item" href="#">Moj Profil</a>
          <a class="dropdown-item" href="#">Postavke</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" onclick="logout()">Odjava</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

    <div class="container mt-5">
        <h1 class="mb-3">Prikaz svih oglasa</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Business ID</th>
                        <th>Business Name</th>
                        <th>Description</th>
                        <th>Location ID</th>
                        <th>Owner ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for business in businesses %}
                    <tr>
                        <td>{{ business.businessid }}</td>
                        <td>{{ business.businessname }}</td>
                        <td>{{ business.description }}</td>
                        <td>{{ business.locationid }}</td>
                        <td>{{ business.ownerid }}</td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>